.view-CodeView {
    overflow: auto;
    border-radius: .5rem;
    margin: 2px;
    width: calc(min(640px, 100vw));
}

.view-CodeView pre {
    display: none;
    margin: 0;
    font-size: 80%;
}

.view-CodeView.expanded pre {
    display: block;
    white-space: pre-wrap;
}

.view-CodeView > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em;
    height: 2em;
}

.view-CodeView > header > div.label {
    flex: 1 1 auto;
    cursor: pointer;
}