.view-MarkdownView {
    padding: 1em;
    margin: 0.5em 0;
}

.view-MarkdownView table {
    background-color: var(--theme-color-section);
    color: var(--theme-color-on-section);
    border-collapse: collapse;
}

.view-MarkdownView table th {
    background-color: var(--theme-color-primary-light);
    color: var(--theme-color-on-primary-light);
}

.view-MarkdownView table th,
.view-MarkdownView table td {
    border: 1px solid var(--theme-color-on-frame);
    padding: 0.25em 0.5em;
    text-align: center;
}

.view-MarkdownView code {
    color: var(--theme-color-on-accent-light);
    background-color: var(--theme-color-accent-light);
}

.view-MarkdownView blockquote {
    color: var(--theme-color-on-section);
    background-color: var(--theme-color-section);
    padding: 1em;
    font-style: italic;
}