.pages-tools-painter-CodeOptionsView div.grid-3 {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0 1.5em;
    place-items: center start;
}

.pages-tools-painter-CodeOptionsView div.grid-3 > div.hint {
    opacity: 0.5;
}
