div.pages-tools-painter-PainterTools {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

div.pages-tools-painter-PainterTools > div.tab-strip {
    width: 100%;
    height: 100%;
}

div.pages-tools-painter-PainterTools > div.tab-strip main > div > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}